.filter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.filterInput {
  width: 180px;
  margin: 0 auto;
  border: 2px solid rgba(0, 0, 255, 0.4);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: 0;
  color: #28048d;
  background-color: rgb(234, 248, 250);
}

.filterInput:focus {
  border: 2px solid blue;
}
