.contactForm {
  border: 2px solid rgba(0, 0, 255, 0.4);
  border-radius: 4px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 360px;
  padding: 12px;
}

.contactInput {
  width: 180px;
  border: 2px solid rgba(0, 0, 255, 0.4);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  outline: 0;
  color: #28048d;
  background-color: rgb(234, 248, 250);
}

.contactNumber {
  margin-top: 24px;
}

.contactInput:focus {
  border: 2px solid blue;
}

.contactAddButton {
  width: 90px;
  margin-top: 24px;
  border-radius: 4px;
  border-color: rgba(0, 0, 255, 0.4);
  background-color: rgb(234, 248, 250);
  color: #28048d;
}

.contactAddButton:active {
  background-color: blue;
  color: white;
}

.contactAddButton:hover {
  border-color: blue;
}

.contactError {
  color: blue;
  font-size: 14px;
}

.contactAdd {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}
