.contactsView {
  display: flex;
  flex-direction: column;
  align-items: center;  
  max-width: 540px;
  margin: 0 auto; 
}

.contactsView__descr {
  margin: 50px auto;
  text-align: center;
}

.error {
  color: red;  
}
